@using BarkBuddies.Data.Entities;
@model BarkBuddies.Data.Entities.UserProfile

@{
    ViewData["Title"] = "Edit";
}



@if (ViewBag.Success != null)
{
    <p>@ViewBag.Success</p>
}
<h4>User Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasChildren" /> Household has children
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasCats" /> Household has cats
                </label>

                <div>
                        <br />
                        Compared to your current pet(s), are you looking for:
                    </div>
                    <div class="form-group">
                        <label asp-for="SizeChoice" class="control-label">Size</label>
                        <select asp-for="SizeChoice"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<SizeChoice>()">
                        </select>
                        <span asp-validation-for="SizeChoice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AgeChoice" class="control-label">Age</label>
                        <select asp-for="AgeChoice"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<AgeChoice>()">
                        </select>
                        <span asp-validation-for="AgeChoice" class="text-danger"></span>
                    </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Pet" asp-action="Index">View Pets</a> |
    <a asp-controller="PetMatch" asp-action="Search">View Matching Pets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
