@using BarkBuddies.Data.Entities;
@model Tuple<BarkBuddies.Data.Entities.UserProfile, List<BarkBuddies.Data.Entities.Pet>>
    
@{
    ViewData["Title"] = "My Match Preferences";
}
<style>
    body {
        background-color: thistle;
    }
</style>
<div class="row">
    <div class="col-md-4" style="padding-right: 10%">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item1.Id" />
            <div class="form-group">
                <label asp-for="Item1.ZipCode" class="control-label"></label>
                <input asp-for="Item1.ZipCode" class="form-control" />
                <span asp-validation-for="Item1.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item1.HasChildren" /> My household has children
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item1.HasCats" /> My household has cats
                </label>
            </div>
            <div>
                <br />
                Search for the ideal match for your dog! Select size and age compared to the dogs saved in your profile:
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Item1.SizeChoice" class="control-label">Choose a Size</label>
                <select asp-for="Item1.SizeChoice "
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<SizeChoice>()">
                </select>
                <span asp-validation-for="Item1.SizeChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.AgeChoice" class="control-label">Choose an Age</label>
                <select asp-for="Item1.AgeChoice"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<AgeChoice>()">
                </select>
                <span asp-validation-for="Item1.AgeChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (TempData.Peek("SuccessMessage") != null)
                {
		            @TempData["SuccessMessage"]
	            }
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (Model.Item2.Count >= 1)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            My Pets
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a asp-controller="Pet" asp-action="Details" asp-route-id="@item.PetId">Details</a>
                        </td>
                    </tr>
                }
            </table>
            <div>
                <a asp-controller="PetMatch" asp-action="Search" class="btn btn-primary"> View Matching Pets</a>
            </div>
        }
        else
        {
            <div>
                <a asp-controller="Pet" asp-action="Create" class="btn btn-primary">Add your first Pet</a>
            </div>
        }
    </div>
</div>

