@using BarkBuddies.Data.Entities;
@model Tuple<BarkBuddies.Data.Entities.UserProfile, List<BarkBuddies.Data.Entities.Pet>>


@{
    ViewData["Title"] = "User Profile Info";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item1.Id" />
            <div class="form-group">
                <label asp-for="Item1.ZipCode" class="control-label"></label>
                <input asp-for="Item1.ZipCode" class="form-control" />
                <span asp-validation-for="Item1.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item1.HasChildren" /> Household has children
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item1.HasCats" /> Household has cats
                </label>
            </div>
            <div>
                <br />
                Compared to your current pet(s), are you looking for:
            </div>
            <div class="form-group">
                <label asp-for="Item1.SizeChoice" class="control-label">Size</label>
                <select asp-for="Item1.SizeChoice "
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<SizeChoice>()">
                    <option value="">Choose a size</option>
                </select>
                <span asp-validation-for="Item1.SizeChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.AgeChoice" class="control-label">Age</label>
                <select asp-for="Item1.AgeChoice"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<AgeChoice>()">
                    <option value="">Choose an age</option>
                </select>
                <span asp-validation-for="Item1.AgeChoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (TempData.Peek("SuccessMessage") != null)
                {
		            @TempData["SuccessMessage"]
	            }
            </div>
        </form>
    </div>
        <table class="table">
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a asp-controller="Pet" asp-action="Details" asp-route-id="@item.PetId">Details</a> 
                    </td>
                </tr>
            }

        </table>
</div>
<div>
    <a asp-controller="PetMatch" asp-action="Search">View Matching Pets</a>
</div>

