@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url(https://img.wallpapersafari.com/desktop/1280/1024/94/92/bF3a2L.jpg);
    }
</style>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 style="color:mediumpurple" font-family="Arial Black">Welcome to BarkBuddies</h1>
</div>
<h2 class="text-center" style="color:mediumpurple" font-family="Arial Black">Build your profile to help you find your dog's perfect match! </h2>



